@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Send+Flowers&display=swap');

:root {
  --color-border: #000;
  --color-background-header: #F1C0E8;
  --color-background-main: #FFF0FC;
  --color-accent: #c714a6;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 375px;
  margin: 0;
}

header {
  flex: 0 50px;
  margin: 0;
  background-color: var(--color-background-header);
  border-bottom: solid var(--color-accent) thin;
}

main {
  flex: 1;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-main);
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 300;
}

menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
}

.navbar-fixed-top {
    display: flex;
    align-items: center;
}

.navbar-brand-lil {
  padding-left: 0.3em;
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.navbar-brand-planner {
  font-family: "Send Flowers", cursive;
  font-style: normal;
  font-weight: 900;
}

menu .nav-item {
  padding: 0 1rem;
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
}

menu .nav-item:hover {
  color: var(--color-accent);
}

.nav-link-active {
  font-weight: 400;
  color: var(--color-accent);
}

.nav-link-active:hover {
  color: var(--color-accent);
}

.header {
  font-family: "Send Flowers", cursive;
  font-weight: 900;
  font-size: 60px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin: 0;
}

.login-form button {
  align-self: center;
  background-color: var(--color-background-header);
  border: 1px solid var(--color-accent);
  border-radius: 8px;
  box-shadow: none;
}

#login-button {
  padding: 10px 20px;
}

.login {
  width: 340px;
}

.main-cursive {
  display: block;
  width: 340px;
  text-align: center;
  font-family: "Send Flowers", cursive;
  font-weight: 600;
  font-size: 30px;
}

footer {
  align-items: center;
  flex: 0 40px;
  margin: 0;
  background-color: var(--color-background-header);
  border-top: solid var(--color-accent) thin;
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 300;
  padding-top: 7px;
  padding-left: 1rem;
  padding-right: 1rem;
}

footer a {
  float: right;
  color: var(--color-accent);
}

footer a:hover {
  color: var(--color-accent);
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}